{% extends "::base.html.twig" %}

{% block head %}
<div class="bloc_page_entete_22">
    <div id="bloc_page_entete">
        <div class="bloc_page_entete_1">
            <a href="{{ url('nroho_base_default') }}"><img src="{{ asset('bundles/basenroho/img/logo-nroho_44.png') }}" alt="logo de nroho.com" id="logoo"/></a>
        </div>
        <div class="bloc_page_entete_2">
            <nav class="entete3">
                <a href="{{ path('nroho_base_aide') }}">Aide</a>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<br />
<br />
<br />
<br />
<div class="nouveau11">
    <div class="bloc_page_bodyy">
        <div class="bloc_page_load">
            <div class="n10load">
                <div class="nouveau11">
                    <div class="ssload">
                        <div class="mrr1">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<hr>
<br/>
<br/>
<div class="nouveau101">
    <h3>Le site de covoiturage en Algérie!</h3>
</div>	
<div class="bloc_page_body4">
    <div class="desccc31">
        <div class="desccc11">
            <h3>C'est Nouveau!</h3>
        </div>
        <div class="desccc2">
            <p>Une nouvelle station de transport, pour voyager ensemble et partager des trajets!</p>
            <p>La station est propulée par les voyageurs, elle est Ouverte 24/24 - 7jours/7 - Souvent des palces sont à 0 Dinar.</p>
        </div>
    </div>
    <div class="desccc32">
        <div class="desccc11">
            <h3>C'est Simple!</h3>
        </div>
        <div class="desccc2">
            <p>Déposez, trouvez une annonce, des places en quelques clics! C'est très simple et très rapide!</p>
            <p>Cette nouvelle façon de voyager est beaucoup moins cher, plus écologique, plus souple et surtout plus agréable!</p>
        </div>
    </div>
    <div class="desccc33">
        <div class="desccc11">
            <h3>Et c'est gratuit!</h3>
        </div>
        <div class="desccc2">
            <p>La station de "transport par covoiturage" et gratuite, pas besoin de payer pour l'utiliser</p>
            <p>En plus d'etre un moyen efficace pour faciliter les déplacements en Algérie, avec moins d'encombrement!</p>
        </div>
    </div>	
</div>		
<hr>
<div id="ancre_marche"></div><br/>
<div class="nouveau101">
        <h3>Voila comment ça marche!</h3>
</div>
<div class="bloc_page_body2">
    <div class="desccc3">
        <div class="desccc1">
            <h3>1</h3>
        </div>
        <div class="desccc2">
            <p>Conducteur : "Je propose mes places libres, pour prendre avec moi quelques personnes."</p>
            <p>Passager  : "Je recherche une voiture, une place, pour me déplacer vers ma destination."</p>
        </div>
        <div class="desccc4">
            <img src="{{ asset('bundles/basenroho/img/proposer.jpg') }}" alt="nroho.com coiturage en Algérie"/>
        </div>
        <div class="desccc5">
            <a href="{{ path('nroho_base_add') }}" target="_blank" >Déposez votre trajet</a> 
        </div>
    </div>
    <div class="desccc3">
        <div class="desccc1">
            <h3>2</h3>
        </div>
        <div class="desccc2">
            <p>Je trouve mon covoitureur selon mes préférences.
                <br/>Conducteur et passager, vous serez gagnants!
            </p>
            <p>C'est une nouvelle façon de voyager qui arrive!</p>
        </div>
        <div class="desccc4">
            <img src="{{ asset('bundles/basenroho/img/annonces.jpg') }}" alt="nroho.com coiturage en Algérie"/>
        </div>
        <div class="desccc5">
            <a href="#ancre_offre" target="_blank" >Trouvez des places</a>
        </div>
    </div>
    <div class="desccc3">
        <div class="desccc1">
            <h3>3</h3>
        </div>
        <div class="desccc2">
            <p>Nous partageons le voyage.</p>
            <p>
                Vous allez faire le même trajet! c'est plus économique, plus écologique et surtout plus agréable!
            </p>
            <p>
                C'est un nouveau moyen de transport, fiable, et illimité!
            </p>
        </div>
        <div class="desccc4">
            <img src="{{ asset('bundles/basenroho/img/partez.jpg') }}" alt="nroho.com coiturage en Algérie"/>
        </div>
        <div class="desccc5">
            <a href="#ancre_offre" target="_blank" rel="nofollow">Cherchez un trajet</a>
        </div>
    </div>
</div>
<div class="youtu">
    <iframe style="border:0;" width="560" height="315" src="//www.youtube.com/embed/Wqpx66bYvIw" allowfullscreen></iframe>
</div>
<hr>
<div class="nouveau101">
    <h3>Suivez-nous!</h3>
</div>
<div class="bloc_page_body2">
    <a href="https://www.facebook.com/pages/nrohocom/" target="_blank">
        <div class="social_body1">
        </div>
    </a>
    <a href="https://twitter.com/nrohoAlgerie" target="_blank">
        <div class="social_body2">
        </div>
    </a>
</div>
<hr>
<div class="nouveau101">
    <h3>ils nous soutiennent!</h3>
</div>
<div class="bloc_page_body2">
    <div class="souti">
        <div class="souti1">
                <a href="https://www.bledvoyage.com" target="_blank"><img src="{{ asset('bundles/basenroho/img/partenaire/bledvoyage.jpg') }}" alt="soutien nroho.com coiturage en Algérie"/></a>
        </div>
        <div class="souti1">
                <a href="https://www.twiiza.com" target="_blank"><img src="{{ asset('bundles/basenroho/img/partenaire/twiiza.png') }}" alt="soutien nroho.com coiturage en Algérie"/></a>
        </div>
        <div class="souti1">
                <a href="http://centresebastopol.com/lagarderie/" target="_blank"><img src="{{ asset('bundles/basenroho/img/partenaire/lagarderie.png') }}" alt="soutien nroho.com coiturage en Algérie"/></a>
        </div>
        <div class="souti1">
                <a href="http://www.diridarek.com" target="_blank"><img src="{{ asset('bundles/basenroho/img/partenaire/diridarek.png') }}" alt="soutien nroho.com coiturage en Algérie"/></a>
        </div>
    </div>
</div>
{% endblock %}
