<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ asset('bundles/basediridarek/css/style.css') }}"/>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <!--[if lt IE 9]
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js></script>
        <![endif]-->
        <meta name="Description"  content="diridarek.com - Ne l'attendez plus, venez le prendre! DIRIDAREK! Le site de rencontre en Algérie" /> 
        <meta name="Keywords" 	  content="rencontre, algerie, tchat, fille, algérie, femme, halal, alger, site, diridarek, gratuit, amour, diridarek, homme, mariage" />
        <meta property="og:image" content="{{ asset('bundles/basediridarek/images/image_diridareki.jpg') }}"/>
        <link rel="icon"          href="{{ asset('bundles/basediridarek/images/favicon.ico') }}" />
        <title>diridarek.com - Le site de rencontre en Algérie</title>
    </head>
    <body>
        <div class="header_bloc">
            <header>
                <div class="heimo">
                    <a href="http://www.diridarek.com"><img src="{{ asset('bundles/basediridarek/images/logo.png') }}" alt="diridarek.com"/></a>
                </div>
                <div class="heima">
                    <a href="http://www.diridarek.com"><img src="{{ asset('bundles/basediridarek/images/logo_m.png') }}" alt="diridarek.com"/></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="inscription.php" target="_blank">S'inscrire</a></li>
                        <li><a href="index.php">Accueil</a></li>							
                    </ul>
                </nav>
            </header>
        </div>
        <div class="tounous">
            <section>
                <nav class="menuinfo">
                    <ul>
                        <li><a href="aide.php">Comment ça marche</a></li>
                        <li><a href="pouvoir.php">Le pouvoir aux femmes</a></li>
                        <!--<li><a href="#">Astuces & Conseils</a></li>-->
                        <li><a href="../infos/contact.php">Contactez-nous</a></li>
                    </ul>
                </nav>
                <div class="contenu">
                    <h2>
                        Aide / Comment ça marche ?
                    </h2>
                    <h3>
                        En 3 étapes simples et faciles ! 
                    </h3>
                    <p>
                        Envoyer des messages, faire des demandes, chercher des membres, ... diridarek.com est un site simple très simple à utiliser. 
                        2 étapes à suivre pour devenir membre.
                    </p>
                    <h3>
                        1. Inscription sur le diridarek.com
                    </h3>
                    <p>
                        Rien de plus facile, un prénom, une date de naissance, bien choisir son sexe, une adresse mail, un mot de passe
                        et le tour est joué.
                    </p>
                    <div class="presstou">
                        <img alt="diridarek.com" src="{{ asset('bundles/basediridarek/images/inscription.png') }}">
                    </div>	
                    <p>	
                        Une fois ces champs sont bien remplis, cliquez sur le bouton "S'incrire". Bienvenue chez diridarek.com !
                    </p>
                    <div class="imgtout">
                        <img alt="diridarek.com" src="{{ asset('bundles/basediridarek/images/membre.png') }}">
                    </div>
                    <p>	
                        Vous reveverez un e-mail de confirmation, avec votre adresse mail et votre mot de passe. 
                        Si vous ne trouvez pas cet e-mail sur votre boite de reception. Alors, il doit surement être sur "Courrier indesirable",
                        ou "Spam".
                    </p>
                    <p>	
                        Si vous oubliez votre mot de passe, vous savez ou le trouvez !
                    </p>
                    <h3>
                        2. Completez votre profil
                    </h3>
                    <p>	
                        Maintenant que vous êtes membres chez diridarek.com, vous pouvez dialoguer et entrer en contact 
                        avec d’autres profils. Mais avant cela, on va compléter votre profil, 
                        vous pouvez y accéder de 2 manières : soit en cliquant sur « mon profil », ou soit en cliquant sur « votre prénom ».
                    </p>
                    <div class="imgtout">
                        <img alt="diridarek.com" src="{{ asset('bundles/basediridarek/images/profil.png') }}">
                    </div>
                    <div class="imgtout">
                        <img alt="diridarek.com" src="{{ asset('bundles/basediridarek/images/profil2.png') }}">
                    </div>				
                    <p>
                        Une fois accéder sur votre profil, compléter les champs, vous aurez plus de chances 
                        d’entrer en contact avec d’autres profils ! 
                    </p>
                    <div class="imgtout">
                        <img alt="diridarek.com" src="{{ asset('bundles/basediridarek/images/moi.png') }}">
                    </div>
                    <h3>
                        3. Vous êtes membres, profitez pleinement du site !
                    </h3>
                    <div class="imgtout">
                        <img alt="diridarek.com" src="{{ asset('bundles/basediridarek/images/profil2.png') }}">
                    </div>
                    <p>
                        Envoyez des « demandes », des « messages », à l’aide des boutons « demander, « message »
                    </p>
                    <div class="imgtout">
                        <img alt="diridarek.com" src="{{ asset('bundles/basediridarek/images/membre.png') }}">
                    </div>
                    <p>
                        Attention : les femmes ont le pouvoir chez diridarek.com, vous ne pouvez pas leur envoyer 
                        un « message » directement. Il faut d’abord envoyer « une demande ». Une fois la « demande » acceptée, 
                        vous pouvez entrer en contact avec elle. 
                    </p>
                </div>
            </section>
        </div>
    </body>
</html>
